<aside>{{> user-message}}</aside>
<article>
  <div id="files">
    <input class="search" placeholder="Search" />
    <button class="sort" data-sort="filterDate">
      Sort by Date Created
    </button>

    <table class="file-table-one">
      <tr>
        <th>File Name</th>
        <th>Category</th>
        <th>Date Created</th>
        <th>Download</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {{#each docs as |doc|}}
        <tr>
          <td class="title">{{doc.title}}</td>
          <td class="category">{{doc.category}}</td>
          <td class="filterDate">{{doc.filterDate}}</td>
          <td>
            <button class="download-btn" id="download-{{doc._id}}" type="button" class="btn-sm btn-defaults">
              Download
            </button>
          </td>
          <td>
            <button type="button" class="btn-sm btn-defaults">
              Edit
            </button>
          </td>
          <td>
            <button class="delete-btn" type="button" id="delete-{{doc._id}}" class="btn-sm btn-defaults">
              Delete
            </button>
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
</article>
<script src="assets/scripts/docs/filter.js"></script>
