<aside>{{> user-message}}</aside>
<article>
  <div class="filter-table">
    <table class="file-table-one filter-table quick">
      <tr>
        <th>File Name</th>
        <th>Category</th>
        <th>Date Created</th>
        <th>Download</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {{#each docs as |doc|}}
        <tr>
          <td><input type="text" id="title-{{doc._id}}" name="doc[title]" value="{{doc.title}}"></td>
          <td><select id="category-{{doc._id}}" name="doc[category]" value="{{doc.category}}" class="category-list"><option value="" selected disabled>Select a Category...</option>
          </select></td>
          <td>{{doc.filterDate}}</td>
          <td>
            <button class="download-btn btn btn-primary btn-lg" id="download-{{doc._id}}" type="button">
              <span class="glyphicon glyphicon-download-alt"></span>
            </button>
          </td>
          <td>
            <button class="update-btn btn btn-primary btn-lg" id="update-{{doc._id}}" type="submit">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </td>
          <td>
            <button id="delete-{{doc._id}}" type="button" class="delete-btn btn-primary btn-lg">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
      {{/each}}
    </table>
  </div>
</article>
